:root {
    --text-clr: #fff;
    --secondary-text-clr: #333;
    --icon-clr: #5065A8;
    --icon-clr-hover: rgb(232, 199, 13);
    --background-clr: rgba(253,199,141,1);
    --grid-box-clr: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    --points-box-clr: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    --footer-background-clr: linear-gradient(to bottom, #EFEFEF, #F7F7F7);
    --tool-background-clr: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
    --tool-border: 2px solid black;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--background-clr);
}

.container {
    margin-inline: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    user-select: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    touch-action: manipulation;
}

/* Typography */

h1 {
    font-size: 2.25rem;
}

.material-symbols-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

/* Header */
header {
    -webkit-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.74);
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.74);
    margin-bottom: 2em;
}

/* Nav */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.logo {
    width: 170px;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2.5em;
}

.nav-link {
    color: var(--text-clr);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    user-select: none;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
}

/* Hamburger menu */

.hamburger-btn {
    position: absolute;
    top: 1.35rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--text-clr);
    margin: 2.5px 0;
    transition: transform 0.3s;
  }
  
  /* Change the hamburger menu to an "X" */
  .hamburger-btn.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-btn.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-btn.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

/* Hero Section */

.hero-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5em;
}

.greeting-message {
    order: 1;
    color: var(--text-clr);
    text-transform: capitalize;
    /* margin-right: 2.6em; */
}

.display-date {
    order: 0;
    color: var(--text-clr);
    font-size: 1.3rem;
}

.weather-results {
    order: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: var(--text-clr);
    text-align: center;
}

.weather-location {
    width: 100%;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: -20px;
}

.weather-icon {
    width: 70px;
}

.weather-placeholder-icon {
    width: 65px;
}

.temperature {
    font-size: 1.7rem;
    margin-left: -3px;
}

.bday-msg {
    display: none;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    background: #FEAC5E;
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); 
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    border-radius: 15px;
    padding: 0.3em;
    margin-bottom: 0.5em;

}

/* Points Grid */

.points-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    padding-bottom: 6em;
    user-select: none;
}

.student-div {
    position: relative;
    text-align: center;
    font-weight: 700;
    color: var(--secondary-text-clr);   
    padding: 2em;
    background-image: var(--grid-box-clr);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);   
    border-radius: 0.25em;
    letter-spacing: 0.5px;
}

.points-icon-btn {
    color: var(--icon-clr);
    position: absolute;
    top: 0.3em;
    right: 0;
    font-size: 1.8rem;
    background-color: transparent;
    padding: 0 0.5em;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.points-icon-btn:active {
    transform: scale(0.75);
}

.points-icon-btn:hover {
   color: var(--icon-clr-hover);
}

.settings-btn {
    position: absolute;
    right: 14px;
    color: var(--secondary-text-clr);
    border: none;
    opacity: 0.4;
    cursor: pointer;
    user-select: none;
}

.close-settings-btn {
    position: absolute;
    top: 6px;
    right: 5px;
}

.settings-container {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background-image: var(--tool-background-clr);
    border: var(--tool-border);
    border-radius: 10px;
    padding: 1em;
    width: 200px;
    height: 150px;
}

.removeStudentBtn {
    font-size: 1rem;
    color: var(--text-clr);
    background-color: var(--icon-clr);
    border: none;
    border-radius: 10px;
    padding: 1em;
}

.removeStudentBtn:hover,
.removeStudentBtn:focus {
    opacity: 0.8;
}

.student-avatar {
    position: absolute;
    padding: 0.5em;
    left: 0;
    top: 0;
    cursor: pointer;
}

.student-avatar-img {
    width: 60px;
    border-radius: 50%;
}

.student-points {
    text-align: center;
    width: 50px;
    margin: 0.3em auto;
    padding: 0.6em;
    color: var(--text-clr);
    background-color: #0093E9;
    background-image: var(--points-box-clr);
    border-radius: 20%;
    user-select: none;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: var(--footer-background-clr);
    padding: 0.7em 0 0.7em 0;
    -webkit-box-shadow: 0px -2px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 6px -1px rgba(0,0,0,0.75);
}

.tool-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tool-bar-btn {
    color: var(--icon-clr);
    background-color: transparent;
    font-size: 1.7rem;
    border: none;
    user-select: none;
}

.tool-bar-btn:hover,
.tool-bar-btn:focus {
    opacity: 0.7;
}

.close-btn {
    font-weight: 500;
    background-color: #F7F7F7;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    user-select: none;
}

.close-btn:hover,
.close-btn:focus {
    color: #EFEFEF;
    background-color: var(--icon-clr);
    border: 2px solid #F7F7F7;
}

.tool-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Class Monitors */

.book-monitor-randomiser {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 90%;
    max-width: 400px;
    height: 250px;
    background-image: var(--tool-background-clr);
    border: var(--tool-border);
    border-radius: 10px;
    padding: 1em;
}

.book-monitor-heading {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--secondary-text-clr);
    margin: 0 auto;
}

.book-monitor-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.book-monitor {
    font-size: 1.5rem;
    color: var(--secondary-text-clr);
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 1em;
}

.book-monitor-btn, 
.book-monitor-reset-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 35px;
    background-color: var(--icon-clr);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--text-clr);
    border: none;
    border-radius: 8px;
}

.book-monitor-reset-btn {
    display: none;
    background-color: #C779D0;
}

/* Timer */

.timer {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 90%;
    max-width: 300px;
    margin-left: auto;
    background-image: var(--tool-background-clr);
    color: var(--secondary-text-clr);
    border: var(--tool-border);
    border-radius: 10px;
    padding: 1em;
}

.countdown-input {
    text-align: center;
    width: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: transparent;
    border: none;
}

.countdown {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.timer-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.timer-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: #8208e6;
}

.timer-btn-start {
    background-color: #00b84c;
}

.timer-btn-pause {
    display: none;
    background-color: #ff0256;
}

/* To do list */

.todo-list {
    position: fixed;
    top: 0;
    right: -150%;
    bottom: 54px;
    left: auto;
    z-index: 100;
    width: 25%;
    min-width: 400px;
    background-image: var(--tool-background-clr);
    border: var(--tool-border);
    border-radius: 10px;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
    transition: transform 0.35s ease-in-out, right 0.35s ease-in-out;
  }

.todo-list.open {
    transform: translateX(0%);
    right: 0;
}

.todo-list-top {
    margin-bottom: 0.5em;
}

.todo-list-heading {
    color: var(--secondary-text-clr);
}

.todo-list-form {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.todo-list-form > input,
.todo-text {
    appearance: none;
    border: none;
    outline: none;
}

.todo-list-input{
    flex: 1 1 0%;
    width: 100%;
    color: #EFEFEF;
    background-color: rgb(67, 67, 97);
    padding: 1em;
    border-radius: 1em;
    margin-right: 1em;
}

.todo-list-input::placeholder {
    color: #EFEFEF;
}

.submit-todo {
    color: #80D0C7;
    font-weight: 700;
    background-color: rgb(67, 67, 97);
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.content {
    flex: 1 1 0%;
    color: #fff;
}

.todo-text {
    color: black;
    background-color: transparent;
    display: block;
    width: 100%;
    transition: 0.4s;
}

.todo-text:not(:read-only) {
    color: #C779D0;
}

.actions {
    display: flex;
}

.actions button {
    border: none;
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
}

.edit-btn {
    color: #4BC0C8;
}

.delete-btn {
    color: crimson;
}

/* Add New Student */

.add-student-form {
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    width: 90%;
    max-width: 400px;
    height: 370px;
    background-image: var(--tool-background-clr);
    border: var(--tool-border);
    border-radius: 10px;
    padding: 1em;
}

.add-student-form-heading {
    color: var(--secondary-text-clr);
    font-size: 2rem;
    margin: 0 auto;
}

.add-student-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
}

.add-student-info-container > input {
    width: 100%;
    border-radius: 10px;
    padding: 0.5em;
}

.add-student-btn {
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--icon-clr);
    color: var(--text-clr);
    border: none;
    border-radius: 10px;
    padding: 1em;
}

.display-none {
    display: none;
}

/* Media Queries */

@media (max-width: 900px) {
    body {
        text-align: center;
    }

    h1 {
        font-size: 1.9rem;
    }

    .logo {
        width: 120px;
    }

    .hamburger-btn {
        display: flex;
        margin-top: 0.5em;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5em;
        padding-bottom: 0;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
        gap: 2em;
        display: none;
        font-size: 0.8rem;
        margin-bottom: 1em;
    }

    .nav-list.active {
        display: flex;
    }

    .logo-container {
        margin-bottom: 1em;
    }

    .hero-section {
        flex-direction: column;
        margin-bottom: 0.5em;
    }

    .greeting-message {
        margin-bottom: 0.2em;
    }

    .display-date {
        font-size: 1.125rem;
    }

    .weather-results {
        justify-content: center;
    }

    .weather-location {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        margin-top: -15px;
    }

    .weather-icon {
        width: 60px;
    }

    .weather-placeholder-icon {
        width: 60px;
        margin-bottom: 0.5em;
    }

    .temperature {
        font-size: 1.4rem;
    }

    .todo-list {
        width: 35%;
        min-width: 265px;
    }

    .todo-list-form {
        flex-direction: column;
        gap: 0.5em;
    }

    .actions {
        flex-direction: column;
    }

    .add-student-form {
        text-align: left;
    }
}

